html {
    scroll-behavior: smooth;
}

body {
    text-align: center;
    justify-content: center;
    margin: 0px 0px 60px 0px;
    background-color: rgb(31, 32, 40);
    color: rgb(240, 238, 244);
    font-family: Lato, sans-serif;
    position: relative;
}

body:before {
    background-size: cover;
    content: '';
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    z-index: -1;
    opacity: 0.2;
}

.navbar {
    height: 60px;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 22px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgb(31, 32, 40);
    box-shadow: 0px 1px 3px rgb(120, 119, 122);
    z-index: 100;
}

.menu-items {
    display: flex;
}

.mode-button-container {
    margin-right: auto;
    display: flex;
    align-items: center;
}

.light-word {
    margin-right: 6px;
}

.dark-word {
    margin-left: 6px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 69px;
    height: 26px;
    margin-left: 30px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(180, 170, 24);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(31, 32, 40);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(31, 32, 40);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(43px);
    -ms-transform: translateX(43px);
    transform: translateX(43px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 30px;
    font-size: 15px;
    padding-top: 3px;
    padding-right: 8px;
    padding-left: 8px;
    text-align: right;
    color: black;
    font-weight: bold;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.navbar a {
    text-decoration: none;
    color: rgb(240, 238, 252);
    margin-right: 35px;
}

.underline {
    display: inline;
    position: relative;
    overflow: hidden;
}

.underline-light {
    display: inline;
    position: relative;
    overflow: hidden;
}

.underline:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: -4px;
    background: rgb(180, 24, 43);
    height: 2px;
    transition-property: left right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.underline-light:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: -4px;
    background: rgb(180, 24, 43);
    height: 2px;
    transition-property: left right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.underline:hover:after,
.underline:focus:after,
.underline:active:after {
    right: 0;
}

.underline-light:hover:after,
.underline-light:focus:after,
.underline-light:active:after {
    right: 0;
}

.intro {
    margin-top: 60px;
    justify-content: center;
    width: 860px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
}

.title {
    font-size: 45px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    width: 100%;
}

.role {
    font-size: 84px;
    font-weight: bold;
    margin-top: 0px;
    width: 100%;
    text-align: left;
}

.red {
    color: rgb(180, 24, 43);
}

.blue {
    color: rgb(24, 42, 180);
}

.green {
    color: rgb(42, 180, 24)
}

.summary {
    font-size: 24px;
    width: 100%;
    text-align: left;
    font-weight: 300;
    line-height: 34px;
    margin-top: 70px;
}

.summary2 {
    font-size: 24px;
    width: 100%;
    text-align: left;
    font-weight: 300;
    line-height: 34px;
    margin-top: 40px;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.linkedin {
    height: 21px;
    float: right;
    margin-left: 6px;
}

.email-image {
    height: 24px;
    float: right;
    margin-left: 6px;
}

.linkedin-text {
    font-size: 24px;
    font-weight: 300;
    text-decoration: none;
    color:rgb(240, 238, 252);
    line-height: 20px;
}

.github-text {
    font-size: 24px;
    font-weight: 300;
    text-decoration: none;
    color:rgb(240, 238, 252);
    margin-left: 30px;
    line-height: 20px;
}

.email-text {
    font-size: 24px;
    font-weight: 300;
    text-decoration: none;
    color:rgb(240, 238, 252);
    line-height: 20px;
    margin-left: 30px;
}

hr {
    width: 860px;
    margin-top: 100px;
}

.section-title {
    width: 860px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    height: 200px;
    display: flex;
    align-items: flex-end;
}

.tools-section {
    margin-top: 70px;
    text-align: left;
}

.tools-title {
    font-size: 2.2em;
    font-weight: bold;
    margin-bottom: 0px;
}

.tools-list {
    display: flex;
    height: 40px;
}

.tool-item {
    margin-right: 20px;
    font-size: 1.2em;
}

.projects-title {
    font-size: 2.2em;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 80px;
    width: 90%;
    text-align: left;
}

.work-section-container {
    width: 860px;
    margin-left: auto;
    margin-right: auto;
}

.projects-container {
    width: 860px;
    display: grid;
    grid-template-columns: 400px 400px;
    grid-gap: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.img-container {
    position: relative;
    background-color: black;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.img-container img {
    height: 100%;
    width: 100%;
    transition: .5s;
}

.img-container .img-button-a {
    position: absolute;
    top: 20%;
    left: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-weight: bold;
    background-color: transparent;
    background-repeat: no-repeat;
    color: rgb(240, 238, 252);
    font-size: 18px;
    padding: 6px 6px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    opacity: 0;
    transition: .5s;
    font-family: Lato;
    text-decoration: none;
}

.img-container .img-button-b {
    position: absolute;
    top: 20%;
    left: 70%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-weight: bold;
    background-color: transparent;
    background-repeat: no-repeat;
    color: rgb(240, 238, 252);
    font-size: 18px;
    padding: 6px 6px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    opacity: 0;
    transition: .5s;
    font-family: Lato;
    text-decoration: none;
}

.img-container button:hover {
    background-color: rgb(63, 150, 156);
    opacity: .5;
}

.project-img {
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.made-with {
    width: 100%;
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 18px;
    color: rgb(240, 238, 252);
    font-weight: bold;
    opacity: 0;
    transition: .5s;
    font-family: Lato;
}

.built {
    font-size: 14px;
    font-family: Lato;
    margin-bottom: 0px;
}

.tools {
    margin-top: 5px;
}

.project-description {
    text-align: left;
}

.about-title {
    font-size: 84px;
    font-weight: bold;
}

.about-summary-work {
    font-size: 24px;
    width: 100%;
    text-align: left;
    font-weight: 300;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    line-height: 34px;
}

.about-summary-personal {
    font-size: 24px;
    text-align: left;
    font-weight: 300;
    line-height: 34px;
}

.headshot {
    object-fit: cover;
    width: 250px;
    height: 290px;
    border-radius: 10px;
    margin-left: 50px;
}

.about-with-photo {
    display: flex;
    width: 850px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.social-container {
    display: flex;
    height: 50px;
    align-items: center;
}

.about-container {
    width: 860px;
    margin-left: auto;
    margin-right: auto;
}

.about-summary-work2 {
    font-size: 24px;
    width: 850px;
    text-align: left;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    line-height: 34px;
    margin-top: 40px;
}

.about-list {
    font-size: 24px;
    text-align: left;
    margin-top: 0px;
    line-height: 34px;
    width: 850px;
}

.contact-text {
    font-size: 24px;
    width: 850px;
    text-align: left;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    line-height: 34px;
    margin-top: 40px;
}

.bold {
    font-weight: bold;
}

@media screen and (max-width: 940px) {
    .intro {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    hr {
        width: 600px;
    }

    .section-title {
        width: 600px;
    }

    .projects-container {
        width: 600px;
        display: grid;
        gap: 60px;
        grid-template-columns: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .work-section-container {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .img-container .img-button-a {
        font-size: 30px;
    }

    .img-container .img-button-b {
        font-size: 30px;
    }

    .img-container .img-button-c {
        font-size: 30px;
    }

    .made-with {
        font-size: 24px;
    }

    .built {
        font-size: 18px;
    }

    .about-container {
        width: 600px;
    }

    .about-with-photo {
        display: flex;
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 80px;
        align-items: center;
    }

    .about-list {
        width: 600px;
    }

    .contact-text {
        width: 600px;
    }
}

@media screen and (max-width: 700px) {
    .intro {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    hr {
        width: 500px;
    }

    .projects-container {
        width: 500px;
        display: grid;
        gap: 50px;
        grid-template-columns: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    .work-section-container {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    .section-title {
        width: 500px;
    }

    .about-container {
        width: 500px;
    }

    .about-with-photo {
        display: flex;
        flex-direction: column;
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 80px;
        align-items: center;
    }

    .about-summary-work2 {
        width: 500px;
    }

    .about-list {
        width: 500px;
    }

    .headshot {
        margin-top: 50px;
    }

    .contact-text {
        width: 500px;
    }
}

@media screen and (max-width: 600px) {
    .navbar {
        height: 60px;
        display: flex;
        justify-content: right;
        align-items: center;
        font-size: 16px;
        width: 100%;
    }

    .navbar a {
        text-decoration: none;
        color: rgb(240, 238, 252);
        margin-right: 20px;
    }

    .intro {
        width: 350px;
        margin-left: auto;
        margin-right: auto;
    }

    hr {
        width: 350px;
    }

    .section-title {
        width: 3500px;
    }

    .title {
        font-size: 40px;
    }

    .role {
        font-size: 51px;
        width: 100%;
    }

    .summary {
        font-size: 20px;
    }

    .summary2 {
        font-size: 20px;
    }

    .linkedin-text {
        font-size: 20px;
    }

    .github-text {
        font-size: 20px;
    }

    .email-text {
        font-size: 20px;
    }

    .projects-container {
        width: 350px;
        display: grid;
        gap: 40px;
        grid-template-columns: 350px;
        margin-left: auto;
        margin-right: auto;
    }

    .section-title {
        width: 350px;
        height: 150px;
        margin-top: -30px;
    }

    .work-section-container {
        width: 350px;
        margin-left: auto;
        margin-right: auto;
    }

    .img-container .img-button-a {
        font-size: 18px;
    }

    .img-container .img-button-b {
        font-size: 18px;
    }

    .img-container .img-button-c {
        font-size: 18px;
    }

    .made-with {
        font-size: 18px;
    }

    .built {
        font-size: 14px;
    }

    .about-container {
        width: 350px;
        margin-left: auto;
        margin-right: auto;
    }

    .about-summary-work {
        font-size: 20px;
        width: 350px;
    }

    .about-summary-personal {
        font-size: 20px;
        width: 350px;
    }

    .about-summary-work2 {
        font-size: 20px;
        width: 350px;
        margin-left: auto;
    }

    .about-with-photo {
        display: flex;
        flex-direction: column;
        width: 350px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;

    }

    .about-list {
        font-size: 20px;
        width: 330px;
    }

    .headshot {
        margin-top: 40px;
    }

    .contact-text {
        width: 350px;
        font-size: 20px;
    }
}

@media screen and (max-width: 550px) {
    .intro {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .title {
        font-size: 35px;
    }
    
    .role {
        font-size: 55px;
    }

    hr {
        width: 300px;
    }

    .section-title {
        width: 300px;
        margin-top: -60px;
    }

    .role {
        width: 100%;
    }

    .projects-container {
        width: 300px;
        display: grid;
        gap: 40px;
        grid-template-columns: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }

    .social-icons {
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 30px;
    }

    .github-text {
        font-size: 20px;
        font-weight: 300;
        text-decoration: none;
        color:rgb(240, 238, 252);
        margin-left: 0px;
        line-height: 20px;
    }
    
    .email-text {
        font-size: 20px;
        font-weight: 300;
        text-decoration: none;
        color:rgb(240, 238, 252);
        line-height: 20px;
        margin-left: 0px;
    }

    .tools-section {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .tools-title {
        font-size: 1.6em;
    }

    .tools-list {
        width: 100%;
        font-size: 1em;
    }

    .tool-item {
        font-size: 1em;
        margin-right: 10px;
    }

    .about-container {
        width: 300px;
    }

    .about-summary-work {
        font-size: 20px;
    }

    .about-summary-personal {
        font-size: 20px;
        width: 300px;
    }

    .about-summary-work2 {
        font-size: 20px;
        width: 300px;
    }

    .about-list {
        font-size: 20px;
        width: 100%;
    }

    .about-with-photo {
        display: flex;
        flex-direction: column;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
    }

    .headshot {
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }

    .contact-text {
        width: 300px;
        font-size: 20px;
    }
}